In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv("titanic.csv")

In [4]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [5]:
type(titanic['age'])

pandas.core.series.Series

In [7]:
titanic['age'].equals(titanic.age)

True

In [8]:
age = titanic.age

In [9]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [10]:
age.tail

<bound method NDFrame.tail of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64>

In [11]:
age.dtype

dtype('float64')

In [12]:
age.shape

(891,)

In [13]:
len(age)

891

In [14]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [15]:
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [17]:
age.to_frame()

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

## ANALIZE NUMERICA

In [18]:
age.count() #quantos dados nao vazios tem nessa coluna

714

In [19]:
age.size # quantos dados incluindo dados vazios tem na tabela

891

In [21]:
len(age) # quantos dados incluindo dados vazios tem na tabela

891

In [24]:
age.sum(skipna = True)

21205.17

In [23]:
age.mean()

29.69911764705882

In [25]:
age.median()

28.0

In [26]:
age.std()

14.526497332334042

In [28]:
age.min()

0.42

In [29]:
age.max()

80.0

In [33]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [35]:
len(age.unique())

89

In [38]:
age.nunique( dropna = False)

89

In [37]:
age.value_counts()

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [39]:
age.value_counts(sort=False)

age
22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.67      1
30.50     2
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [41]:
age.value_counts(dropna=True)

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [43]:
age.value_counts( bins=5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: count, dtype: int64

In [44]:
age.value_counts(normalize=True)

age
24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
28.00    0.035014
           ...
36.50    0.001401
55.50    0.001401
0.92     0.001401
23.50    0.001401
74.00    0.001401
Name: proportion, Length: 88, dtype: float64

In [47]:
age.value_counts( ascending=True, sort=True)

age
74.0     1
14.5     1
70.5     1
12.0     1
36.5     1
        ..
30.0    25
19.0    25
18.0    26
22.0    27
24.0    30
Name: count, Length: 88, dtype: int64

In [53]:
age.value_counts(dropna=True, sort=True, ascending=False, normalize=True, bins=5)

(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(0.339, 16.336]     0.112233
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: proportion, dtype: float64

In [52]:
30/age.size

0.03367003367003367

In [55]:
age.value_counts(dropna=True, sort=True, ascending=False, normalize=True, bins=5).sum()

0.8013468013468015

In [59]:
df = pd.read_csv("titanic.csv")
fare = df['fare'].value_counts(sort=True)

In [64]:
fare.idxmax() # mostra o indice com valores mais altos, que corresponde no caso, ao mais comum na tabela

8.05

2.0